body {
  margin: 0;
  font-family: 'Lato';
}

a {
  color: black;
  text-decoration: none;
  padding: 10px 5px;
}

#navbar {
  height: 50px;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 24px;
  box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.35);
}

#brand_name {
  color: #4744FF;
  margin-left: 7px;
  font-size: 25px;
}

#nav_links {
  float: right;
}

.nav_link {
  font-size: 20px;
  position: relative;
}

#nav_links .nav_link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4744ff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#nav_links .nav_link:hover:after {
  width: 100%;
  left: 0;
}

#footer {
  width: 100%;
  background-color: #e3e3e3;
  box-shadow: 0px -7px 10px -3px rgba(0,0,0,0.35);
}

.clearfix {
  display: flex;
  text-align: center;
  height: 135px;
  margin: 0;
  line-height: 50px;
}

#copyright_note {
  text-align: center;
  padding: 1px;
  border-top: solid 1px #b3b3b3;
}

#social_media_section, #send_a_message {
  width: 35%;
}

#contact_us {
  width: 30%;
}

#send_a_message, #contact_us {
  border-left: solid  1px #b3b3b3;
}

#social_media_links {
  height: 30px;
  width: 100%;
  display: flex;
}

.social_media_link {
  width: calc(100%/3);
}

.social_media_link>p, #contact_info_section>p {
  margin: 0;
  line-height: 23px;
  margin-bottom: 2px;
}

.social_media_link:hover, #contact_info_section>p>a:hover {
  color: #4744FF;
  font-weight: bold;
}

#contact_info_section {
  width: 90%;
  margin-left: 5%;
  text-align: left;
}

button, input[type='submit'] {
  background-color: #363696;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

button {
  padding: 15px 10%;
}

button:hover, input[type='submit']:hover {
  background-color: #131335;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  color: #4d4d4d;
}

#page_body {
  width: 92%;
  margin: 6px 4%;
  text-align: center;
}

#body_title {
  font-size: 50px;
  text-align: center;
  color: #4744ff;
}

form[id='login'], form[id="register"], form[id="resetpass"], form[id="contact"] {
  width: 30%;
  margin-left: calc(35%);
  border: solid 1px #e2e2e2;
  text-align: left;
  padding: 0 15px 15px 15px;
  border-top: solid 4px #4744ff;
  border-bottom: none;
  margin-bottom: 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}

form[id="resetpass"], form[id="contact"] {
  margin-bottom: 60px;
}

form>#instruction {
  font-size: 17px;
}

form>label {
  opacity: 0.9;
  margin: 0 5%;
  padding: 5px 0;
}

form>input:not([type='submit']), form>textarea {
  width: 90%;
  margin: 8px 5% 14px 5%;
  border: solid 1px #d9d9d9;
  padding: 10px 15px;
  min-width: 90%;
  max-width: 90%;
  min-height: 37px;
}

form>input:not([type='submit']):focus {
  outline-style: solid 1px;
  outline-color: blue;
}

form>input:not([type='submit']):valid {
  outline-style: solid 1px;
  outline-color: #00967D;
}

form>input:not([type='submit']):invalid {
  outline-style: solid 1px;
  outline-color: #DB504A;
}

form>input[type='submit'] {
  width: 40%;
  margin: 10px 30%;
  padding: 10px;
}


#noacc_fp {
  width: 30%;
  background-color: #f2f2f2;
  margin-left: 35%;
  padding: 0 15px 5px 15px;
  border: solid 1px #e2e2e2;
  border-top: none;
  margin-bottom: 60px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
}

#noacc_fp>a{
  color: #333333;
  display: block;
  padding: 10px 0 5px 0;
}

#noacc_fp>a:hover {
  color: #4744ff;
  font-weight: bold;
}
