body {
  margin: 0;
  font-family: 'Lato';
}

a:not(.button_a):not(.text_hyperlink) {
  color: black;
  text-decoration: none;
  padding: 10px 5px;
}

button>a {
  text-decoration: none;
  color: white;
}

#navbar {
  height: 50px;
  width: 100%;
  background-color: #e2e2e2;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 24px;
  box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.35);
}

#brand_name {
  color: #4744FF;
  margin-left: 7px;
  font-size: 25px;
}

#nav_links {
  float: right;
}

.nav_link {
  font-size: 20px;
  position: relative;
}

#nav_links .nav_link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #4744ff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#nav_links .nav_link:hover:after {
  width: 100%;
  left: 0;
}

#footer {
  width: 100%;
  background-color: #e3e3e3;
  box-shadow: 0px -7px 10px -3px rgba(0,0,0,0.35);
}

.clearfix {
  display: flex;
  text-align: center;
  height: 135px;
  margin: 0;
  line-height: 50px;
}

#copyright_note {
  text-align: center;
  padding: 1px;
  border-top: solid 1px #b3b3b3;
}

#social_media_section, #send_a_message {
  width: 35%;
}

#contact_us {
  width: 30%;
}

#send_a_message, #contact_us {
  border-left: solid  1px #b3b3b3;
}

#social_media_links {
  height: 30px;
  width: 100%;
  display: flex;
}

.social_media_link {
  width: calc(100%/3);
}

.social_media_link>p, #contact_info_section>p {
  margin: 0;
  line-height: 23px;
  margin-bottom: 2px;
}

.social_media_link:hover, #contact_info_section>p>a:hover {
  color: #4744FF;
  font-weight: bold;
}

#contact_info_section {
  width: 90%;
  margin-left: 5%;
  text-align: left;
}

button, input[type='submit'] {
  background-color: #363696;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

button {
  padding: 15px 20px;
}

button:hover, input[type='submit']:hover {
  background-color: #131335;
}

h4{
    margin: 0;
}

h4, .subsection_title {
  text-transform: uppercase;
  font-weight: bold;
  color: #4d4d4d;
}

.subsection_title {
  padding: 20px 0 10px 0;
  display: block;
  font-size: 14px;
}

#page_body {
  width: 92%;
  margin: 6px 4%;
  text-align: center;
}

#body_title {
  font-size: 50px;
  text-align: center;
  color: #4744ff;
}

form[id='login'], form[id="register"], form[id="resetpass"], form[id="contact"], form[id="remove_account"] {
  width: 30%;
  margin-left: calc(35%);
  border: solid 1px #e2e2e2;
  text-align: left;
  padding: 0 15px 15px 15px;
  border-top: solid 4px #4744ff;
  border-bottom: none;
  margin-bottom: 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}

form[id="insertion"] {
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

form[id="grade_edit"] {
  width: 30%;
  margin-left: 35%;
  text-align: left;
}

#error {
  color: #b30000;
}

form[id="resetpass"], form[id="contact"] {
  margin-bottom: 60px;
}

form>#instruction {
  font-size: 17px;
}

form>label {
  opacity: 0.9;
  margin: 0 5%;
  padding: 5px 0;
}

form>input:not([type='submit']), form>textarea, form>input:not([type='checkbox']) {
  width: 90%;
  margin: 8px 5% 14px 5%;
  border: solid 1px #d9d9d9;
  padding: 10px 15px;
  min-width: 90%;
  max-width: 90%;
  min-height: 37px;
}

form>input[type='checkbox'] {
  max-height: 20px;
  min-height: 20px;
  min-width: 10%;
  max-width: 10%;
  line-height: 20px;
  padding: 0 15px;
  vertical-align: top;
  margin: 0 0 15px 0;
}

form>input:not([type='submit']):focus {
  outline-style: solid 1px;
  outline-color: blue;
}

form>input:not([type='submit']):valid {
  outline-style: solid 1px;
  outline-color: #00967D;
}

form>input:not([type='submit']):invalid {
  outline-style: solid 1px;
  outline-color: #DB504A;
}

form>input[type='submit'] {
  width: 40%;
  padding: 10px;
}


#noacc_fp {
  width: 30%;
  background-color: #f2f2f2;
  margin-left: 35%;
  padding: 0 15px 5px 15px;
  border: solid 1px #e2e2e2;
  border-top: none;
  margin-bottom: 60px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
}

#noacc_fp>a{
  color: #333333;
  display: block;
  padding: 10px 0 5px 0;
}

#noacc_fp>a:hover {
  color: #4744ff;
  font-weight: bold;
}

#profile_widget, #upcoming_events_widget {
  display: inline-block;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
  border: solid 1px #e2e2e2;
  border-top: solid 4px #4744ff;
  text-align: left;
  padding: 0 10px 0 10px;
}

#profile_widget {
  width: 30%;
  float: left;
  margin: 30px 2.5% 30px 0;
  font-family: 'Roboto', sans-serif;
}

#profile_widget>#greeting {
  font-size: 30px;
  padding: 15px 0;
  border-bottom: solid 1px #e2e2e2;
}

#upcoming_events_widget {
  width: 60%;
  margin: 30px 0 30px 2.5%;
  min-height: 600px;
}

#upcoming_events_widget>table {
  width: 100%;
  text-align: left;
  margin: 10px 0 10px 0;
}

#upcoming_events_widget>table>tbody>tr>th {
  text-align: center;
}

#upcoming_events_widget>table>tbody>tr>th>span {
  padding-bottom: 5px;
  display: block;
}

#upcoming_events_widget>table>tbody>tr>th>div {
  font-weight: normal;
  border-top: dashed 1px #c2c2c2;
  padding-top: 5px;
}

#upcoming_events_widget>table>tbody>tr>th, #upcoming_events_widget>table>tbody>tr>td {
  padding: 10px 10px 10px 10px;
  border: solid 1px #c2c2c2;
}

.center {
  text-align: center !important;
}

.upcoming_events_section {
  border-bottom: solid 1px #e2e2e2;
  padding-top: 20px;
}

.upcoming_events_section:last-of-type {
  border: none;
}

.section_title {
  color: #757575;
  font-size: 28px;
  display: block;
}

.query_result {
  padding: 30px 0 15px 0;
  text-align: center;
}

.query_result > img {
  border: solid 2px #4744ff;
  border-radius: 50px;
  padding: 5px;
}

.text_hyperlink {
  padding: 0;
  color: #4744ff;
  text-decoration: none;
}

.user_info {
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 15px;
}

.predmet {
  line-height: 20px;
}

.user_info:last-of-type {
  border-bottom: solid 1px #e2e2e2;
}

.user_info>span {
  margin-left: 5px;
}

#profile_action {
  padding-top: 15px;
  text-align: center;
}

#profile_action>button {
  line-height: 24px;
  margin-bottom: 10px;
}

button>a>img {
  margin-right: 7px;
}

.subject_classroom {
  display: block;
}

.subject_classroom>span {
  float: right;
}

.oral_grade {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.written_grade {
  color: #b30000;
  cursor: pointer;
  font-weight: bold;
}

.product_grade {
  color: #248f24;
  cursor: pointer;
  font-weight: bold;
}

.reminder {
  width: 100%;
  border: solid 1.5px #4744ff;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 0;
}

.reminder_title {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  width: calc(100%-10px);
  color: #333333;
  display: block;
  margin: 0 10px 10px 10px;
}

.reminder_title>img {
  float: right;
}

.reminder_data {
  width: calc(100%-20px);
  padding: 5px 10px;
}

.reminder_data_type {
  margin: 10px 10px 10px 0;
  color: #4f4f4f;
  font-weight: bold;
}
